.newsContainer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .newsHead {
    color: white;
    line-height: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-transform: uppercase;
  }
  