.pages {
    margin-bottom: 100px;
  }
  .flex {
    display: flex;
    justify-content: center;
  }
  
  .item {
    flex: 0 0 0.5%;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 1px; /* and that, will result in a 10px gap */
  }
  .buttonDiv {
    text-align: center;
    margin-top: 10px;
  }
  .button {
    background: linear-gradient(
      142deg,
      rgba(0, 156, 199, 1) 0%,
      rgba(0, 91, 142, 1) 100%
    );
    color: white !important;
    font-weight: 400 !important;
    border-radius: 15px !important;
    width: 200px !important;
  }
  